.offset-top-fixed-div{
    margin-top: 40px;
}

#smallNavTop a{
    padding: 5px 20px 5px 0;
    color: #c2daeb;
    font-weight: 300;
    font-size: 15px;
    letter-spacing: 1px;
}

i.userIcon{
    display: inline-block;
    background: url(../img/navUser.png) center center no-repeat;
    width: 13px;
    height: 14px;
    background-size: 13px auto;
    margin: -1px 8px;
}
nav.nav-padding-top{
    margin-top: 30px;
    height: 80px;
}
nav.nav-padding-top a{
    color: #c2daeb;
    padding: 22px 15px;
}
nav.nav-padding-top .container{
    height: 100%;
}

.positionMiddle{
    margin: 0 auto;
    text-align: center;
    display: block;
    padding-left: 68px;
}

.positionMiddle a{
    padding: 5px 15px 5px 0 !important;
    color: #333;
    margin: 24px auto;
    font-size: 17px;
}
.nav-button{
    width: 80px;
    height: 80px;
    border-left: 1px solid #C7D8DD;
    cursor: pointer;
}
.nav-button.btn-setting{
    background: url(../img/settings.png) center center no-repeat;
    background-size: 40px auto;
}
.nav-button.btn-more{
    background: url(../img/menu.png) center center no-repeat;
    background-size: 37px auto;
}

.userGroup{
    margin: 10px auto;
}
.userGroup h4{
    margin: 10px auto;
    font-weight: 300;
}

.objectItem #item1{
    list-style-image: url(../img/li1.png);
}
.objectItem #item2{
    list-style-image: url(../img/li2.png);
}
.objectItem #item3{
    list-style-image: url(../img/li3.png);
}
.objectItem #item4{
    list-style-image: url(../img/li4.png);
}

.no-list-style li{
    list-style: none;
}
.no-list-style{
    margin-left: -60px;
}

.centerWrap{
    background-color: #F2F3F3;
    margin-top: 20px;
    padding: 10px;
}

.hDivider{
    width: 100%;
    margin: 15px auto;
    background: #BACED1;
    height: 1px;
}
.hDivider-sm{
    width: 100%;
    margin: 4px auto;
    background: #BACED1;
    height: 1px;
}
.smallUserImg{
    width: 100%;
}
.smallUserImgGroup .col-xs-3{
    padding: 10px;
}
.search-box-group{
    font-size: 0;
}
.searchBox{
    height: 35px;
    border-top-left-radius: 23px;
    border-bottom-left-radius: 23px;
    width: 82%;
    border: 1px solid #3B4142;
    border-right: 0;
    font-size: 16px;
    font-style: italic;
    outline: none;
}
.searchButton{
    height: 35px;
    border-top-right-radius: 23px;
    border-bottom-right-radius: 23px;
    background: transparent;
    border: 1px solid #3B4142;
    border-left: 0;
    outline: none;
}


/*================================
folding tree
================================*/
.tree {
    min-height:20px;
    margin-bottom:20px;
    background-color:transparent;
    border:0px solid #999;
    padding: 0px;
    /*-webkit-border-radius:4px;*/
    /*-moz-border-radius:4px;*/
    /*border-radius:4px;*/
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.0);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.0);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.0)
}
.tree ul{
    /*padding-left: 20px;*/
}
.tree li {
    list-style-type:none;
    margin:0;
    padding:15px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #97AAB2;
    bottom:10px;
    height:100%;
    top:-5px;
    width:1px;
    left: -32px;
}
.tree li::after {
    border-top:1px solid #97AAB2;
    height:20px;
    top:24px;
    width:37px;
    left: -32px;
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #97AAB2;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    display:inline-block;
    padding:5px 8px;
    text-decoration:none;
    background: #97AAB2;
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background: #809098;
    border:1px solid #94a0b4;
    color:#000
}
.tree a{
    color: #000;
}
#commentArea{
    width: 100%;
    height: 80px;
    margin: 10px auto 0;
    resize: none;
    outline: none;
    border: 1px solid #97AAB2;
}
.centerWrap .col-xs-9.pull-right{
    /*padding: 0 10px;*/
}

.CommentWrap{
    margin: 30px 0;
}
.CommentWrap p{
    font-size: 18px;
}
.CommentWrap img{
    padding-top: 5px;
}

.oneCourseWrap{
    /*width: 95%;*/
    height: 50px;
    border: 2px solid #9FB5BC;
    margin: 5px 10px;
    padding: 5px;
    cursor: pointer;
}
.oneCourseWrap .col-xs-5{
    line-height: 2.7;
    width: 150px;
    padding-right: 0;
}
.oneCourseWrap .col-xs-6{
    margin-right: 0;
    padding: 0;
    width: 100px;
    line-height: 2.7;
}
.oneCourseWrap .col-xs-1{
    height: 100%;
    padding: 0;
    width: 3px;
}
.oneCourseWrap .col-xs-1.labelRed{
    background-color: #FF3600;
}
.oneCourseWrap .col-xs-1.labelGreen{
    background-color: #7AC330;
}
.oneCourseWrap .col-xs-1.labelOrange{
    background-color: #FFB100;
}
.oneCourseWrap .col-xs-1.labelBlue{
    background-color: #0094E7;
}

span.scoreRed{
    color: #FF3600;
    padding-left: 20px;
}
span.scoreGreen{
    color: #7AC330;
    padding-left: 20px;
}

.courseVideoWrapper{
    height: 450px;
    border: 1px solid #9FB5BC;
}

.courseVideoWrapper .col-xs-8{
    padding: 0;
}
.courseVideoWrapper .col-xs-8{
    padding: 0;
}
.courseVideoWrapper iframe{
    width: 100%;
    height: 449px;
    position: relative;
    z-index: 100;
}

/*===========
Boot rating
==========*/
.symbol {
    display: inline-block;
    border-radius: 50%;
    border: 5px double white;
    width: 30px;
    height: 30px;
}

.symbol-empty {
    background-color: #ccc;
}

.symbol-filled {
    background-color: black;
}

.courseBoxWrapper{
    width: 800px;
}

.commentList{
    background: #EAEAEA;
    height: 300px;
    padding: 0 10px;
}
.no-padding{
    padding: 0;
}
.commentArea{
    background: #ffffff;
    padding: 5px 10px;
}
.commentArea h6{
    color: #A5AEB5;
}
#videoCommentArea{
    width: 100%;
    height: 55px;
    margin: 10px auto 0;
    resize: none;
    outline: none;
    border: 1px solid #97AAB2;
}
.bootbox-body{
    height: 800px;
    overflow: hidden;
}
.modal-dialog{
    width: 835px;
    overflow: hidden;
}

.courseWarp{
    width: 800px;
    max-width: 800px;
    overflow: hidden;
}